<h1> so uh how about taking a quiz? </h1>
<br />
<%= link_to "I guess you could do one by one", \
    {:action => "single", :id => "1"} %>
<br />
<%= link_to "Or do it randomly", {:action => "rand"} %>
