<%= render 'results' %>

<h1> Okay, what's this? </h1>

<script type="text/javascript">
	document.write("<img src='<%= @artwork.image_url %>' width='" + screen.width / 2 + "px'/>");
</script>

<br />
<%= render 'form' %>
<br />
